body{
    background-image: url('b40227e090cccdc16ea57db7c31f3e7e.jpg');
    background-size: cover;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            font-size: h2;
}

        .header{
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .container {
            padding: 20px;
            width: 80%;
            margin: auto;
        }

        .container {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 10px;
            align-items: center;
        }

        .match-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: right;
        }

        .match-details h3 {
            margin: 5px 0;
            font-size: 18px;
        }

        .match-details p {
            font-size: 16px;
            color: #666;
        }

        .match-prediction {
            font-size: 18px;
            font-weight: bold;
            color: #28a745;
        }

        
        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 40px;
        }
h5{
    color: green;
}
        
h4{
    color: black;
}

.btn{
    align-items: centre;
    font-size: 15px;
    border-radius: 7px;
    color: blue;
    font-family: sans-serif;
    padding: 10px;
}
.btn:hover{
    color: green;
}

img{
    width: 80px;
    height: 80px;
    font-size: 30px;
    colour: white;
}

h2{
    font-size: 15px;
    floating: right;
    paragraph: none;
    margin: none;
    padding: none;
    top: none;
    border-radius: none;
    font: none;
    
}

a{
     right: 500%;
    color: green;
    
}

u{
    color: green;
}